@font-face {
    font-family: "ComicSans";
    src: url("Comic\ Sans\ MS.ttf") format("truetype");
}
.txbox {
    left: 30px;
    bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
}
.txbox .box {
    margin-left: 30px;
    border: 5px solid #093755;
    padding: 30px;
}
.txbox .box .tx {
    font-family: "ComicSans";
}
.txbox .box .tx.title {
    font-weight: bold;
}
.txbox .inner {
    flex-direction: column;
}
.next-btn {
    border: 2px solid #0a2352;
    font-size: 20px;
    padding: 5px 20px;
}
.team-slot {
    display: flex;
    flex-direction: column;
    font-family: "ComicSans";
}
.team-slot.empty {
    background-color: #555555;
}
.team-slot-assign {
    background-color: #555555;
    border: none;
    font-size: 50px;
}
.team-slot-assign:hover {
    cursor: pointer;
}
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.7);
    pointer-events: none;
    mask: radial-gradient(
        circle 80px at var(--x) var(--y),
        transparent 0%,
        transparent 70%,
        black 71%
    );
}
.save-lineup {
    border: 2px solid #adadad;
    background-color: #f3f3f3;
    font-family: "ComicSans";
    border-radius: 2px;
    font-size: 18px;
    padding: 5px;
    margin-top: 20px;
}
.active-skill {
    font-weight: bold;
    font-size: 17px;
}
.team-select {
    background: none;
    border: none;
    font-size: 20px;
}
.team-select:hover {
    cursor: pointer;
}
.ts-bg {
    background-color: #0188aa;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@keyframes swingrot {
    0% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}
.start {
    border: 3px solid black;
    border-radius: 5px;
    font-family: "ComicSans";
    padding: 5px;
    font-size: 20px;
    transition: font-size 0.3s ease;
}
.start:hover {
    font-size: 25px;
}
.title-screen-title {
    animation: swingrot 2s ease-in-out infinite alternate;
    transform-origin: top center;
    display: inline-block;
}
/*
.swing-element {
  /* Apply the animation: name, duration, timing, direction, iteration */
  /*animation: swing 2s ease-in-out infinite alternate;
  /* Optional: Keep rotation center-based */
  /*transform-origin: top center; 
  display: inline-block;
}

@keyframes swing {
  0% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}
*/
