.space {
    margin-bottom: 10px;
}
.container {
    display: flex;
    justify-content: space-evenly;
}
button {
    background-color: #205ed1;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    border: 3px solid #001a70;
    padding: 3px 6px;
    transition: background-color 200ms ease-in-out;
}
button:hover {
    background-color: #3f7ef1;
}
.cbtn {
    margin-top: 5px;
}
.score1 { position: relative; }
.score2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
body {
    text-align: center;
    font-family: verdana;
    background-color: #111111;
    color: white;
}
.pbtn {
    background-color: rgb(250, 250, 250);
    transition: background-color 0.2s ease-in-out;
}
.pbtn:hover {
    background-color: rgb(0, 204, 255);
}
.title {
    text-align: center;
    font-size: 20px;
}
