.space {
    margin-bottom: 10px;
}
.container {
    display: flex;
    justify-content: space-evenly;
}
.cbtn {
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
}
.score1 { position: relative; }
.score2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
body {
    text-align: center;
    font-family: verdana;
}
.pbtn {
    background-color: rgb(250, 250, 250);
    transition: background-color 0.2s ease-in-out;
}
.pbtn:hover {
    background-color: rgb(0, 204, 255);
}
.title {
    text-align: center;
    font-size: 20px;
}